@model Aluguer_Salas.Models.Material

@{
    ViewData["Title"] = "Eliminar Material";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Tem a certeza que pretende eliminar este material?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>
        @* Adicione outras propriedades do material aqui, se houver *@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" /> @* Importante para identificar o registo a ser eliminado *@
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>