@page "{id:int?}" // Rota para aceitar o ID
@model Aluguer_Salas.Areas.Identity.Pages.Backoffice.DetailsModel
@{
    ViewData["Title"] = "Detalhes da Sala";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.NomeSala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.NomeSala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Capacidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Capacidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Descricao)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Disponivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Disponivel)
        </dd> 
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sala.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-secondary">Voltar à Lista</a>
</div>