@page
@model Aluguer_Salas.Areas.Identity.Pages.Backoffice.IndexModel
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Criar Nova Sala</a> @* Link para a página de criação *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SalasList[0].NomeSala)</th>
            <th>@Html.DisplayNameFor(model => model.SalasList[0].Capacidade)</th>
            <th>@Html.DisplayNameFor(model => model.SalasList[0].Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.SalasList.FirstOrDefault().Disponivel)</th>
            <th></th> @* Coluna para ações *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SalasList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NomeSala)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>
                    @* Exibe "Sim" ou "Não" de forma mais amigável *@
                    @(item.Disponivel ? "Sim" : "Não")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>